@model Clinical_Trial_Task_Manager.Domain.Entities.TaskItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TaskItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt class="col-sm-2">
            Patient
        </dt>
        <dd class="col-sm-10">
            @(Model.Patient == null ? "-" : $"{Model.Patient.Code} - {Model.Patient.FullName}")
        </dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit"
       asp-route-id="@Model?.Id"
       asp-route-returnUrl="@ViewData["ReturnUrl"]">Edit</a>
    |

    @if (ViewData["ReturnUrl"] != null)
    {
        <a href="@ViewData["ReturnUrl"]">Back</a>
    }
    else
    {
        <a asp-action="Index">Back</a>
    }
</div>
